body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0px;
  padding: 0%;
}
main {
  position: relative;
  height: 100%;
}
.bg-image-desk {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}
.bg-img-mobile {
  display: none;
}
.card-front {
  background-image: url(images/bg-card-front.png);
  border-radius: 8px;
  background-size: cover;
  height: 200px;
  width: 375px;
  padding: 24px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-front {
  margin: 0%;
}
.card-logo-front {
  width: 70px;
}
.card-front-text {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.card-front-expiration {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.card-front-numbers {
  font-size: 22px;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.card-back {
  background-image: url(images/bg-card-back.png);
  background-size: cover;
  position: relative;
  width: 375px;
  height: 200px;
  border-radius: 8px;
}
.card-back-text {
  font-size: 14px;
  color: white;
  position: absolute;
  top: 39%;
  right: 13%;
}
input,
button {
  font-family: inherit;
}
.card-front-name {
  text-transform: uppercase;
}
.form {
  text-transform: uppercase;
  font-size: 14px;
  color: hsl(278, 68%, 11%);
}
.inputfield {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 350px;
  margin-bottom: 20px;
}
.input-el {
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  width: 370px;
  border: 1px solid hsl(270, 3%, 87%);
  border-color: ;
}
.container {
  display: flex;
  gap: 400px;
}
.input-el::placeholder {
  color: hsl(279, 6%, 55%);
}
.label {
  font-weight: bold;
  font-size: 12px;
}
.exp-date {
  display: flex;
  gap: 10px;
}
.inputcvc {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.submit-btn {
  cursor: pointer;
  border: 0;
  background-color: hsl(278, 68%, 11%);
  color: white;
  width: 370px;
  padding: 12px;
  border-radius: 8px;
}
.submit-btn :hover .submit-btn:focus {
  background-color: hsl(270, 3%, 87%);
}
